html {
    font-size: 62.5%;
}

:root {
    --primary: #0000ff;
    --secondary: #00ff00;
    --light-gray: #DADCE0;
}

.ui-link {
    text-decoration: none;
    color: var(--primary);
}

.ui-container {
    width: 80%;
    margin: 0 auto;
}

.ui-textfield {
  padding: 1.2rem 1rem;
  border-radius: 3px;
  border: 1px solid var(--light-gray);
  font-size: 1.6rem;
}

.ui-button {
  background-color: var(--primary);
  color: white;
  border: 0;
  padding: 1.5rem 2rem;
  min-width: 15rem;
  font-size: 1.6rem;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.ui-button:hover {
    opacity: 0.8;
}
.ui-button:disabled {
    opacity: 0.4;
    cursor: disabled;
}

[class^="ui-"] {
    margin: 1rem;
}
